# Binaries
/bin/
/dist/
main
main.exe

# Config
.env
*.env

# Vendor
/vendor/

# IDEs
.idea/
.vscode/

# System
.DS_Store
Thumbs.db

# Meilisearch
data.ms/
meilisearch.log
meilisearch

# Logs & Debug files
*.log
debug_log*.txt
test_*.log
test_*.txt
e2e_test*.log
*_result.log
*_error.log